name: Playwright Tests

#1. TRIGGERS
#Run on push to main, or on any Pull request
on:
    push:
        branches: [main, master]
    pull_request:
        branches: [main, master]
    workflow_dispatch:

# 2. JOBS
jobs:
    test:
      timeout-minutes: 60
      runs-on: ubuntu-latest

      steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8
      
      - name: Install dependencies
        run: pnpm install

      - name: Install Playwright browsers
        run: pnpm exec playwright install --with-deps

      - name: Run Playwright Tests
        run: pnpm exec playwright test
        env:
          BASE_URL: ${{ secrets.BASE_URL }}
          CI: true

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 5